%p#notice= notice

%p
  %b Messenger name:
  = @message.messenger_name
%p
  %b Messenger email:
  = @message.messenger_email
%p
  %b Content:
  = @message.content

= link_to 'Edit', edit_message_path(@message)
\|
= link_to 'Back', messages_path
