- @title = 'Sign up'

%section
  %h1 Sign up

  = semantic_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    = f.inputs do
      .one-column
        = f.input :name, label: 'Bilbo Baggins'
        = f.input :email, placeholder: 'example@unlockherfreedom.com'
        = f.input :password
        = f.input :password_confirmation

    = f.actions do
      = f.action :submit, label: 'Sign up'

  = render 'devise/shared/links'
