!!! 5
%html
  %head
    %meta(charset='utf-8')
    :css
      body {
        margin: 0;
        padding: 5px 20px;
        background: white;
        border: 4px dashed #eee;
        color: #333;
        font: 16px/1.5 'Helvetica Neue', Helvetica, Arial, Verana, sans-serif;
      }

      .wrapper {
        width: 75%;
        max-width: 600px;
        margin: 2em auto;
      }

      .logo img {
        width: 100px;
        height: 35px;
      }

  %body
    .wrapper
      %p
        %strong #{@payment.name},

      - if @turns.to_i > 0
        %p
          Thank you for your contribution of $#{@payment.formatted_amount}. You
          have purchased
          %strong #{@guests} #{"ticket".pluralize(@guests.to_i)}
          , and
          %strong #{@turns} #{"turn".pluralize(@turns.to_i)}
          at the gift card tree!
      - else
        %p
          Thank you for your contribution of $#{@payment.formatted_amount}. You
          have purchased
          %strong #{@guests} #{"ticket".pluralize(@guests.to_i)}!

      %p
        Be sure to print out this email and bring it with you to the event. The
        event will be held at 7:00 PM, on Friday, November 22nd. Directions to
        Vesica Piscis Chapel can be found on the UHF website.

      %p
        You can use this email as a reciept for your tax-deductible
        contribution. It is with your help that we are able to be the voice for
        those who can’t. We couldn’t do what we do without supporters like you.
        So again, thank you.
      
      %br
      %p It is for freedom...
      .logo= image_tag 'https://unlockherfreedom/assets/logo-email.png', alt: 'UHF Logo'
