%p#notice= notice

%p
  %b Name:
  = @conversation.name
%p
  %b Email:
  = @conversation.email
%p
  %b Message:
  = @conversation.message

= link_to 'Edit', edit_conversation_path(@conversation)
\|
= link_to 'Back', conversations_path
