%footer
  %section.double
    %article
      %h1 Make a Donation
      = semantic_form_for Payment.new do |f|
        = f.inputs do
          .two-column
            = f.input :email, hint: 'required', placeholder: 'name@example.com'
            %li.amount.input.required#amount_input
              %label{ for: 'amount'} amount
              %input{ id: 'amount', maxlength: '255', name: 'amount', placeholder: '$20.00', type: 'text' }
              %p.inline-hints ​required​
            = f.input :amount, as: :hidden

        = f.actions do
          = f.action :submit, label: 'Continue'

    %article
      %h1 Contact Us
      = semantic_form_for Message.new do |f|
        = f.inputs do
          .two-column
            = f.input :messenger_name, hint: 'required', placeholder: 'First Last', label: 'Name'
            = f.input :messenger_email, hint: 'required', placeholder: 'name@example.com', label: 'Email'

          .one-column
            = f.input :content, hint: 'required', placeholder: 'Your message', label: 'Message', input_html: { rows: '4' }

        = f.actions do
          = f.action :submit, label: 'Send Message'

  %p.copy
    Copyright
    = link_to 'Unlock Her Freedom', root_path
    &copy; #{Date.today.year}
    &ndash; All Rights Reserved.
