%footer
  %section.double

    %article
      %h1 Contact Us
      = semantic_form_for Message.new do |f|
        = f.inputs do
          .two-column
            = f.input :messenger_name, hint: 'required', placeholder: 'First Last', label: 'Name'
            = f.input :messenger_email, hint: 'required', placeholder: 'name@example.com', label: 'Email'

          .one-column
            = f.input :content, hint: 'required', placeholder: 'Your message', label: 'Message', input_html: { rows: '4' }

        = f.actions do
          = f.action :submit, label: 'Send Message'

  %p.copy
    Copyright
    = link_to 'Unlock Her Freedom', root_path
    &copy; #{Date.today.year}
    &ndash; All Rights Reserved.
