- @title = 'Home'
- @content_class = 'home'

#gallery
  %ul
    %li.word_map

%h1.mantra
  The more knowledgeable we become, the more threat we are to those hiding in plain sight.
  %strong Awareness is imperative to the destruction of human trafficking.

%section.double
  %article
    %h1 What is Human Trafficking?
    %p
      Human trafficking is a crime against humanity. It involves an act of
      recruiting, transporting, transferring, harboring, or receiving a person
      through a use of force, coercion, or other means, for the purpose of
      exploiting them. &ndash;
      %em UNODC (United Nations Office on Drugs and Crime)

    = link_to 'Read More', '/'

  %article
    %h1 Why is Awareness Important?
    %p
      Our children need to be tastefully educated for the sake of prevention.
      Parents, professionals, and the general population need to be educated for
      the sake of precaution and understanding. Victims need to be identified
      and rescued. Perpetrators need to be identified and stopped.

    = link_to 'Read More', '/'

%section.quad
  %article
    %h1 Global
    %ul
      %li There are more than 27 million slaves in the world today. That is more than at any other point in history.

    = link_to 'Read More', '/'

  %article
    %h1 United States
    %ul
      %li The average age a girl trafficked in the US is 13.
      %li 1 in 3 runaways is approached by a trafficker in the first 48 hours of running away.

    = link_to 'Read More', '/'

  %article
    %h1 Spread the Word
    %p Our challenge is for each person who attends an “awareness party” to post the previously listed statistics, one at a time, on the social networking...

    = link_to 'Read More', '/'

  %article
    %h1 Pray
    %p
      Prayer is vital and urgent.
      %em For our struggle is not against flesh and blood, but against the rulers, against the authorities, against the powers of this dark world...

    = link_to 'Read More', '/'

