- @title = 'Get Involved'
- @content_class = 'involved'

%h1.mantra
  “All that is necessary for the
  %strong triumph of evil
  is that good men do nothing.” - Edmund Burke

%section.double
  %article
    %h1 Spread the Word
    %p.inline-links
      Like us on
      = link_to 'Facebook', 'http://facebook.com/unlockherfreedom', target: '_blank'
      and share our posts, or follow us on
      = link_to 'Twitter', 'http://twitter.com/unlockherfreedm', target: '_blank'
      and retweet. Awareness is the first step to making a difference, so make
      your friends aware!

  %article
    %h1 Get Involved
    %p
      Contact us to book an event, have us set up a booth, or let us know if you
      would like to volunteer with us in the future!

%section.double
  %article
    %h1 Pray
    %p
      Prayer is vital and urgent. Pray for the victims. Pray for the criminals
      who are exploiting them. Pray for the people trying to save them. Pray for
      awareness and prevention!

  %article
    %h1 Donate
    %p
      You can donate directly at our website if you would like to make a
      financial contribution to Unlock Her Freedom and our partners!

%section.double
  %article
    %h1 Books
    %ul
      %li
        %em The Slave Next Door
        &ndash; by Kevin Bales & Ron Soodalter
      %li
        %em Sex Trafficking: Inside the Business of Modern Slavery
        &ndash; by Siddharth Kara
      %li
        %em Sold
        &ndash; by Patricia McCormick
      %li
        %em Radhika’s Story
        &ndash; by Sharon Hendry
      %li
        %em Not for Sale: The Return of the Global Slave Trade – and how we can fight it
        &ndash; by David Batstone

  %article.websites
    %h1 Websites
    %ul
      %li= link_to 'Exodus Cry', 'http://exoduscry.com/'
      %li= link_to 'Polaris Project', 'http://www.polarisproject.org/'
      %li= link_to 'Abolition International', 'http://abolitioninternational.org/'
      %li= link_to 'Oath Coalition', 'http://www.oathcoalition.com/'
      %li= link_to 'The A21 Campaign', 'http://www.thea21campaign.org/'
      %li= link_to 'Project Rescue', 'http://projectrescue.com/'
