- @title = 'Get Involved'
- @content_class = 'involved'

%h1.mantra
  “All that is necessary for the
  %strong triumph of evil
  is that good men do nothing.” - Edmund Burke

%section.double
  %article
    %h1 What You Can Do
    %ul
      %li Host an awareness party
      %li Sign up for our newsletter to stay informed of upcoming events where you can get involved
      %li Donate
      %li.inline-links
        You can
        = link_to 'like', 'http://facebook.com/unlockherfreedom', target: '_blank'
        us on Facebook, or
        = link_to 'follow', 'http://twitter.com/unlockherfreedm', target: '_blank'
        us on Twitter.

  %article
    %h1 Educate Yourself
    %p
      If you want to learn more about human trafficking, then you can take a
      look at the list of books and websites on this page. We support them all.
      You will find extensive information and many ways you can get involved.

%section.double
  %article
    %h1 Spread the Word
    %p
      Post the statistics from this website, one at a time, on your social
      networking site. Do a fact a day, one a week, or however you prefer to do
      it. Tell people you know!

  %article
    %h1 Pray
    %p
      Prayer is vital and urgent! Pray for the victims. Pray for the criminals
      who are exploiting them. Pray for the people out there truing to save
      them. Pray for the law enforcement. Pray!

%section.double
  %article
    %h1 Books
    %ul
      %li
        %em The Slave Next Door
        &ndash; by Kevin Bales & Ron Soodalter
      %li
        %em Sex Trafficking: Inside the Business of Modern Slavery
        &ndash; by Siddharth Kara
      %li
        %em Sold
        &ndash; by Patricia McCormick
      %li
        %em Radhika’s Story
        &ndash; by Sharon Hendry
      %li
        %em Not for Sale: The Return of the Global Slave Trade – and how we can fight it
        &ndash; by David Batstone

  %article.websites
    %h1 Websites
    %ul
      %li= link_to 'Exodus Cry', 'http://exoduscry.com/'
      %li= link_to 'Polaris Project', 'http://www.polarisproject.org/'
      %li= link_to 'Abolition International', 'http://abolitioninternational.org/'
      %li= link_to 'Oath Coalition', 'http://www.oathcoalition.com/'
      %li= link_to 'The A21 Campaign', 'http://www.thea21campaign.org/'
      %li= link_to 'Project Rescue', 'http://projectrescue.com/'
