= semantic_form_for @post do |f|
  = f.inputs do
    .one-column
      = f.input :title
      = f.input :content, input_html: { rows: 4 }
      = f.input :has_payment, label: 'Post has donation?'

    .one-column.disclosure
      = f.input :payment_title, label: 'Subject', placeholder: 'Fundraiser'
      = f.input :payment_description, label: 'Short Description', input_html: { rows: 4 }
      = f.input :admin, value: current_admin, as: :hidden

  = f.actions
