!!! 5
%html
  %head
    %title #{@title} - Unlock Her Freedom
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lora:400,400italic'
    = javascript_include_tag 'https://js.stripe.com/v1/', 'application'
    = csrf_meta_tags
    %link{ rel: 'icon', type: 'image/png', href: '/assets/favicon.png' }
    %meta{ name: 'stripe-key', content: ENV['STRIPE_PUBLIC_KEY'] }
    %meta{ name: 'viewport', content: 'initial-scale=1, maximum-scale=1' }
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38705472-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    - if flash[:alert]
      .flash.alert= flash[:alert]

    - if flash[:notice]
      .flash.notice= flash[:notice]

    .wrapper
      = render 'partials/header'
      %section#content{ class: @content_class }= yield
      = render 'partials/footer'
      #darknessification

